body {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font: 0.8em "Trebuchet MS", helvetica, sans-serif;
}

div#conteneur { /*zone au dessus du menu*/
    width: 792px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #33a5ff;
    background: #fff;
}

h1#header { /* background de haut de page */
    height: 258px;
    margin: 0;
    background: url(img/Entreprise.jpg) no-repeat left top;
}

h1#header a { /* logo cesi cliquable */
    width: 200px;
    height: 80px;
    display: block;
    background: url(img/Cesi_logo.png) no-repeat;
    position: relative;
    left: 25px;
    top: 25px;
    text-indent: -5000px;
}

ul#menu { /*menu dementions*/
    height: 26px;
    width: 780;
    margin: 0;
    padding: 0;
    background: #33a5ff repeat-x 0 -25px;
    list-style-type: none;
}

ul#menu li { /*position menu*/
    float: left;
    text-align: center;
}

ul#menu li a { /*couleur menu*/
    width: 130px;
    line-height: 25px;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
    display: block;
    text-decoration: none;
    border-right: 2px solid #328AD1;
}

ul#menu li a:hover { /* trait entre les bouttons*/
    background: #33a5ff repeat-x 0 0;
}

p#footer { /*bas de page*/
    margin: 0;
    padding-right: 10px;
    line-height: 30px;
    text-align: right;
    color: #33a5ff;
}

.button1 { /* boutton retour */
    background-color: #1856DA;
    border: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    border-radius: 2rem;
}

@media only screen and (min-width: 500px) { /*responsive*/
    div#conteneur {
        width: 62%;
        float: inline-start;
    }
    h1#header {
        width: 100%;
        -webkit-background-size: cover;
        float: inline-start;
    }
    ul#menu li a {
        background: #33a5ff repeat-x 0 -25px;
    }
}

#particles-js {  /* particules */
    position: absolute;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
}